<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding-bottom">
        <ion-searchbar
          class="ion-no-padding"
          animated
          placeholder="Filter events"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-list>
          <app-event-card *ngFor="let item of events"
          [image]="item.image"
          [name]="item.name"
          [from]="item.from"
          [to]="item.to"
          [date]="item.date"
          [location]="item.location"
          [avatars]="item.attend.avatars"
          [total]="item.attend.total"
          (click)="eventDetail(item)"
          ></app-event-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
