ion-item-option {
  background: none;
}

ion-button {
  --border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 48px;
  height: 48px;
}

.item-options-ios {
  border-bottom-style: none;
}

.ios > ion-button {
  width: auto !important;
  height: auto !important;
  --padding-start: 0;
  --padding-end: 0;
}
