ion-item {
  --inner-padding-end: 0;

  ion-thumbnail {
    --border-radius: 10px;
    width: 50px;
    height: 50px;
  }

  .text-container {
    display: flex;
    flex-direction: row;
    color: var(--ion-color-light);
    font-size: 12px;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-bottom: 4px;
    }

    p {
      width: 80%;
      line-height: 22px !important;
      max-height: 22px !important;
      white-space: normal;
      margin-right: 8px;
    }

    span {
      text-align: right;
    }
  }

  .active {
    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 38px;
      width: 12px;
      height: 12px;
      background-color: var(--ion-color-success);
      border-radius: 50%;
      border: 3px solid #fff;
    }
  }

  ion-badge {
    font-size: 11px;
    font-weight: 400;
    padding: 3px 6px;
  }
}
