<ion-content [fullscreen]="true">
  <ion-grid
    class="ion-no-padding ion-no-margin background-opts"
    [ngStyle]="data?.background"
  >
    <ion-row>
      <ion-col class="header-container">
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/tabs/events" text=""></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button class="menu-btn" slot="end">
                <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-padding-horizontal borders">
    <ion-row class="">
      <ion-col>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>
            <h2 class="event-title">{{ data.name }}</h2>
          </ion-label>
          <ion-button
            class="circle-btn"
            slot="end"
            fill="clear"
            size="small"
            shape="round"
            color="primary"
          >
            <ion-icon slot="icon-only" name="share-social"></ion-icon>
          </ion-button>
        </ion-item>
        <ul class="avatars">
          <li class="avatar-item" *ngFor="let item of data.attend.avatars">
            <img [src]="item" class="avatar-img" />
          </li>
          <li class="avatar-item">
            <div class="avatar-numbers">
              <span>{{ data.attend.total }}</span>
            </div>
          </li>
          <li class="attend-text">Attending</li>
        </ul>

        <ion-list>
          <ion-item lines="none" class="info-item">
            <ion-avatar slot="start" class="ion-no-margin">
              <ion-icon name="calendar"></ion-icon>
            </ion-avatar>
            <ion-label>
              <ul>
                <li>Date</li>
                <li>{{ data.date }}</li>
              </ul>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="info-item">
            <ion-avatar slot="start" class="ion-no-margin">
              <ion-icon color="primary" name="time"></ion-icon>
            </ion-avatar>
            <ion-label>
              <ul>
                <li>Duration</li>
                <li>{{ data.from }} - {{ data.to }}</li>
              </ul>
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="info-item">
            <ion-avatar slot="start" class="ion-no-margin">
              <ion-icon color="primary" name="location"></ion-icon>
            </ion-avatar>
            <ion-label>
              <ul>
                <li>Location</li>
                <li>{{ data.location }}</li>
              </ul>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="event-description">{{ data?.description }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding-horizontal ion-no-border">
  <ion-toolbar class="ion-text-center">
    <div class="btns-container">
      <ion-button
        class="action-button gradient-button"
        fill="solid"
      >
        <span>Attend</span>
      </ion-button>
      <ion-button class="action-button" fill="outline" mode="md">
        <span>Not going</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
