ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;

  ion-thumbnail {
    margin-top: 0;
    margin-bottom: 0;
    width: 100px;
    min-height: 125px;
    --border-radius: 10px;
  }
}

.category {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--ion-color-primary);
}

.title {
  font-size: 16px;
  line-height: 22px;
  color: var(--ion-color-primary);
  white-space: normal;
  max-height: 40px;
  font-weight: 500;
}

.caption {
  font-size: 13px;
  line-height: 20px;
  color: var(--ion-color-light);
}

