.reply {
  padding-left: 40px;
}

ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
}

ion-input {
  --background: #f9f9f9;
  border-radius: 6px;
  --box-shadow: none;
  --placeholder-color: cvar(--ion-color-medium);
  padding: 2px 10px !important;
  font-size: 14px;
  margin-right: 8px;
}

ion-footer {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.8998949921765581) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.8998949921765581) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0.8998949921765581) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);

  padding: 0 16px 16px 16px;
}

.circle-btn {
  --border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 48px;
  height: 48px;
}
